#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#all-bookmarks {
  display: flex;
  justify-content: center;
}

#all-bookmarks td,
#all-bookmarks th {
  padding: 8px;
}

#all-bookmarks tr:nth-child(even) {
  background-color: #f2f2f2;
}

#all-bookmarks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #213547;
  color: white;
}
